*{  margin: 0;}    /* ZEREI MARGENS */

body{
    font-size: 1.0em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img/wallpaper.png);
    background-repeat:repeat;
}

.border{
  padding: 0% 5%;
  list-style: none;
}

.center{
  text-align: center;
}


/* NAVBAR */

.navbar {
  list-style:none;
  background-color:  #0adcde;
  overflow: auto;

}

.navbar a {
  float: left;
  color: #8b3986;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
  text-align: center;

}

.navbar a:hover {
  background-color: #dfa8dc;
}

.active {
  background-color: #f0e948;
  color: #8b3986;
}


/* BANNER */

.image-bg{
    width: 100%;
    border-bottom: 5px solid #4e29;
    border-top: 4px solid #f0e948;
  }

/* CONTEUDO */

section {
  display: inline-flex;
  width: 90%;
  margin: 4%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: justify;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1%;
  font-style: oblique;
  font-style: italic;
  text-align: center;
  margin-top: 3%;
}

.text{
  font-size: 1.1em;
  text-align: justify;
}

.aboutTheShow{
  background-color: #f7e8fa;
  border-radius: 10px;
  font-size: 1em;
  text-align: justify;
  margin: 2px;
  padding: 0% 4% 2% 4%;
  float: left;
  border: transparent thin solid;
}

.imgaboutTheShow{
  border-radius: 20px;
  margin-right: 4%;
  margin-top: 1%;
  float: left;
  border: #0adcde;
  border-style:groove;

}

 .aboutTheShow img{
  max-width: 45%;
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .navbar a {
    float: none;
    display: block;
  }

  #demo{
    text-align: center;
  }

  #container {
    text-align: center;
  }

  .aboutTheShow{
    padding-bottom: 2%;
    padding-right: 2%;
  }

}
