*{  margin: 0;}    /* ZEREI MARGENS */

body{
    font-size: 1.0em;
    background-image: url(img/wallpaper.png);
    background-repeat:repeat;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border{
  padding: 0% 5%;
  list-style: none;
}

/* NAVBAR */
.navbar {
  list-style:none;
  background-color:  #0adcde;
  overflow: auto;
}
.navbar a {
  float: left;
  color: #8b3986; 
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
  text-align: center;
}
.navbar a:hover {
  background-color: #dfa8dc;
}
.active {
  background-color: #f0e948;
  color: #8b3986;
}


/* BANNER */
.image-bg{
  width: 100%;
  border-bottom: 5px solid #4e29;
  border-top: 4px solid #f0e948;
}


.labelCatalogue{
  text-align: center;
  width: 100%;
  font-size: 1.7em;
  background-color: #cf93dd;
  margin-bottom: 0.7em;
  margin-top: 0.5em;
}

/* CONTAINER */
#container {
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  align-self: center;
  display: inline-flex;
  font-size: 1em;
  background-color: #f0e948;
  margin-bottom: 1em;
}

.filterName {
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  margin-left: 12%;
} 
.selectorButton{
  font-size: 1em;
  margin-left: 0.5em;
}


/* CARDS */
.image-card{
  width: 200px;
  height: 200px;
}
.p-card{
  font-size: 0.7em;
}
.p-name-card{
  font-size: 0.9em;
  padding-bottom: 3px;
  font-weight: 600;
}

.card-board{
  width: 90vw;
  margin: auto;
}
.cards {
  display: inline-table;
  padding: 9px;
  margin: 0 10px 20px 10px;
  background-color: white;
  border-color: #0adcde;
  border-style: groove;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .navbar a {
    float: none;
    display: block;
  }
  #demo{
    text-align: center;
  }
  #container {
    text-align: center;
    max-width: 45%;
}}
