*{  margin: 0;}    /* ZEREI MARGENS */

body{
    font-size: 1.0em;
    background-image: url(img/videos.png);
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border{
  padding: 0% 5%;
  list-style: none;
}

/* NAVBAR */

.navbar {
  list-style:none;
  background-color:  #0adcde;
  overflow: auto;
  border-bottom: 4px solid #f0e948;

}

.navbar a {
  float: left;
  color: #8b3986;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
  text-align: center;

}

.navbar a:hover {
  background-color: #dfa8dc;
}

.active {
  background-color: #f0e948;
  color: #8b3986;
}

.banner {
  width: 100%;
  border-bottom: 5px solid rgb(68, 238, 34);
  border-top: 4px solid #f0e948;
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .navbar a {
    float: none;
    display: block;
  }

  #demo{
    text-align: center;
  }

  #container {
    text-align: center;
  }

  .image {
    width: 20%;
  }
}
